.AboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: lightblue;
    color: black;
    width: 100%; /* Set width to 50% to display two links per row */
    text-align: center; /* Center the text within each link */
    font-size: 15px;
  }

  .profileImage {
    width: 350px; /* Set the desired width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Apply rounded corners */
  }