
    .name {
      color: white;
      font-size: 35px;
      text-align: left;
      flex: 1;
      font-weight: bold;
      margin-left: 10px;
    }

    .navBar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: darkblue;
    }

    .navLinks {
      width: auto;
      text-align: center; /* Center the text within each link */
      font-size: 20px;
      color: white;
      margin: 40px;
    }